<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxcdemo.dao.UserDao">
    <select id="selectUserByName" resultType="com.jxcdemo.entitys.User" parameterType="string">
        select d,loginName,realName,phone,sex from Users 
        where loginName = #{name} and `password`=#{password}
    </select>
    <select id="getusers" resultType="com.jxcdemo.entitys.User"  parameterType="com.jxc.dto.UserDto">
        select id,loginName,realName,phone,sex from users 
        where loginName like '%#{userDto.name}%'
    </select>
</mapper>