<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxcdemo.dao.UserDao">
    <select id="selectUserByName" resultType="com.jxcdemo.entitys.User" parameterType="string">
        select * from Users where name = #{name}
    </select>
    <select id="UpdateUserByName"  parameterType="string">
        update Users set `password`='123'
    </select>
    <select id="UpdateUserByName1"  parameterType="string">
        update Users set `password`='456'
    </select>
</mapper>